
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="background-image: url(~/Content/)">
    <h2>Oops. Something whent wrong</h2>
    <h4>Status code: @Response.StatusCode</h4>
</div>


