@{
    ViewBag.Title = "Shopping Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div class="books-list" id="cart-container">

</div>

<div id="no-content-msg" class="hidden-content">
    <p><i class="fa fa-frown-o" aria-hidden="true"></i>It looks like<br /><sup>You haven't added any book yet.</sup></p>
</div>

<script>
    var updateCartItem = function () {
            var $input = $(this).prev("input.cart-form-control"),
                count = Number($input.val()),
                min = Number($input.prop("min")),
                max = Number($input.prop("max"));

            if (count >= min && count <= max) {
                module.put($(this).closest("div.cart-form").data("book-id"), count);
            }
        },
        deleteCartItem = function () {
            module.delete($(this).closest("div.cart-form").data("book-id"));
            
            $(this).off("click");
            $(this).prev("button").off("click");
            $(this).closest("div.book-item").remove();
        },
        toCartItem = function (item) {
        return $("<div>")
            .addClass("book-item")
            .append(
            $("<img>")
                .addClass("book-picture")
                .prop("src", item.Book.Photo || "/Content/no-book-preview.png")
            )
            .append(
            $("<div>")
                .addClass("cart-book-item")
                .append($("<p>").html("Name: <label><b>" + item.Book.Name + "</b></label>"))
                .append($("<p>").html("Author(s): <label><b>" + item.Book.Authors + "</b></label>"))
            )
            .append(
            $("<div>")
                .data("book-id", item.Book.Id)
                .addClass("cart-form pull-content-right")
                .append($("<input>").addClass("cart-form-control").val(item.Count).prop("type", "number").prop("min", "1").prop("max", "999").prop("required", "required"))
                .append($("<button>").html('<i class="fa fa-2x fa-check" aria-hidden="true"></i>').on("click", updateCartItem))
                .append($("<button>").html('<i class="fa fa-2x fa-trash" aria-hidden="true"></i>').on("click", deleteCartItem ))
            );
        },
        redrawCartPageElements = function (cartItems) {
            if (cartItems && cartItems.length) {
                $("#cart-container").html("");
                $("#cart-container").append(cartItems.map(toCartItem));
                
                $("#no-content-msg").addClass("hidden-content");
                $("#cart-container").removeClass("hidden-content");
            }
            else {
                $("#cart-container").addClass("hidden-content");
                $("#no-content-msg").removeClass("hidden-content");
            }
                
        },
        module = CartModule(updateCartCounter, redrawCartPageElements);

    module.refresh();

    $(function () { module.get(); });
</script>




