@{
    ViewBag.Title = "Shopping Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div class="books-list" id="cart-container">

</div>

<div id="no-content-msg" class="hidden-content">
    <p><i class="fa fa-frown-o" aria-hidden="true"></i>It looks like<br /><sup>You haven't added any book yet.</sup></p>
</div>

<script>
    var toCartItem = function (item) {
        return $("<div>")
            .addClass("book-item")
            .append(
            $("<img>")
                .addClass("book-picture")
                .prop("src", item.Book.Photo || "/Content/no-book-preview.png")
            )
            .append(
            $("<div>")
                .addClass("cart-book-item")
                .append($("<p>").html("Name: <label><b>" + item.Book.Name + "</b></label>"))
                .append($("<p>").html("Author(s): <label><b>" + item.Book.Authors + "</b></label>"))
            )
            .append(
            $("<div>")
                .addClass("cart-form")
                .append($("<input>").addClass("cart-form-control").val(item.Count).prop("type", "number").prop("min", "1").prop("max", "999").prop("required", "required"))
                .append($("<button>").html('<i class="fa fa-2x fa-check" aria-hidden="true"></i>').on("click", function (e) {
                    updateCart(item.Book.Id, $(this).closest("input.cart-form-control").val());
                }))
                .append($("<button>").html('<i class="fa fa-2x fa-trash" aria-hidden="true"></i>').on("click", function (e) {
                    removeFromCart(item.Book.Id);
                }))
            );
    },
        updateCartPageElements = function (cartItems) {
            if (this.data && this.data.length && cartData) {
                $("#cart-container").html("");
                $("#cart-container").append(cartItems.map(toCartItem));
            }
            else
                $("#no-content-msg").removeClass("hidden-content");
        },
        module = CartModule(updateCartPageElements);

    $(function () { module.get().then(result => module.refresh(result)); });
</script>




