body {
    width: 70%;
    min-width: 800px;
    margin: 0 auto;
    font-size: 1.0em;
    font-family: Calibri;
}

form div.form-group label.control-label {
    width: auto;
    margin: 10px auto 0 auto;
}

form div.form-group label.required:before {
    color: red;
    content: "* ";
}

.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.header li {
    float: left;
}

    .header li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        .header li a:hover {
            background-color: #111;
        }

.header, .footer {
    color: white;
    background-color: #333;
    display: flex;
    align-items: stretch;
}

    .footer p {
        margin: 5px 25px;
        flex-grow: 1;
        text-align: center;
    }

    .header a {
        color: white;
    }

        .header a:hover {
            background-color: #111;
        }

    .header .fa {
        color: white;
        padding: 14px 16px;
    }

    .header .logo {
        flex-grow: 1;
        display: flex;
        align-items: center;
    }

    .header .user-menu {
        display: inline-block;
        width: 75%;
        flex-grow: 7
    }

.user-cart {
    display: inline-block;
    border-left: 1px dotted white;
    display: flex;
    align-items: center;
    flex-grow: 1
}

    .user-cart label {
        width: auto;
    }

.header .user-setting {
    display: inline-block;
    max-width: 250px;
    border-left: 1px dotted white;
    display: flex;
    align-items: center;
    flex-grow: 1
}

div.user-cart a {
    min-width: 100px;
}

    div.user-cart a label {
        padding: 0 5px;
        background-color: white;
        color: rgba(7,7,7,1);
        border: 1px dotted gray;
        border-radius: 5px
    }

label.user-name {
    margin: 5px 10px;
    max-width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

h2 sup {
    float: right;
}

    h2 sup:before {
        content: "* ";
        color: red;
    }

div.main-container {
    padding: 20px;
    min-height: 300px;
    box-shadow: 0 2px 5px rgba(0,0,0,.35) inset;
    background-color: whitesmoke;
}

    div.main-container h2 {
        padding: 5px 20px;
        width: 25%;
        min-width: 250px;
        color: rgba(128, 0, 0, 1);
        background-color: rgba(241, 229, 208, 1);
        border: 1px solid wheat;
        border-bottom: 1px solid rgba(217, 202, 176, 1);
        text-transform: uppercase;
        transform: rotateZ(-1deg);
    }

    div.main-container div p:only-child {
        color: deepskyblue;
        background-color: rgba(241, 229, 208, 1);
        font-size: 2em;
        font-weight: bold;
        text-shadow: 0px -1px 0px darkcyan, 0px 1px 0px aliceblue;
        width: 30%;
        min-width: 400px;
        margin: auto;
        transform: rotateZ(-1deg);
    }

    div.main-container div.error p:only-child {
        color: brown !important;
        text-shadow: 0px -1px 0px red !important;
        background-color: rgba(241, 229, 208, 1);
        transform: rotateZ(-1deg);
    }

    div.main-container div p:only-child i {
        float: left;
        margin: 5px 20px;
    }

    div.main-container a, div.main-container a:visited {
        color: rgba(128, 0, 0, 1);
        text-decoration: none;
    }

        div.main-container a:hover {
            color: red;
        }

form label {
    display: inline-block;
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

form div.form-horizontal {
    margin: 10px 50px;
}

form span.field-validation-error span {
    display: inline-block;
    width: 200px;
    margin-left: 10px;
    color: red;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

form .validation-summary-errors ul {
    color: red;
    list-style: none;
}

    form .validation-summary-errors ul li:before {
        content: "* ";
    }

form input, textarea, select {
    width: 200px;
}

form textarea {
    resize: vertical;
    overflow: auto;
}

form button {
    padding: 5px 10px;
}

form div.form-horizontal {
    display: flex;
    justify-content: space-between;
}

div.preview-photo {
    display: inline-block;
    background-color: white;
    border: 1px solid silver;
    border-bottom: 1px solid rgba(0,0,0,.35);
}

    div.preview-photo > img {
        height: auto;
        min-width: 250px;
        max-width: 250px;
        box-shadow: inset 0px 1px 3px rgba(0,0,0,0.35);
        background-color: black;
    }

    div.preview-photo p {
        margin: 5px auto;
        text-align: center;
        font-style: italic;
    }

div.books-list {
    display: block;
    height: 600px;
    overflow-x: hidden;
    overflow-y: auto;
}

    div.books-list div.book-item {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 100px;
        padding: 10px;
        border-top: 1px dotted grey;
    }

        div.books-list div.book-item:first-child {
            border: none !important;
        }

div.book-item .book-picture {
    width: 25%;
    max-width: 100px;
    margin-right: 20px;
    height: 100px;
    background-color: black;
    border: 10px solid white;
    object-fit: cover;
}

div.book-item div {
    width: 25%;
    min-width: 200px;
}

    div.book-item div.cart-book-item {
        width: 100% !important;
    }

div.book-item p {
    width: auto;
    flex-grow: 5;
    margin-right: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

    div.book-item p.book-description {
        height: 100px;
        text-wrap: normal;
        overflow: hidden;
        text-overflow: ellipsis;
    }

div .book-item a {
    max-width: 50px;
    flex-basis: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

form div.cart-form {
    display: flex;
}

    form div.cart-form .cart-form-control {
        display: inline-flex;
        width: 75px;
        align-items: center;
        justify-content: center;
    }

    form div.cart-form a.cart-form-control {
        margin-left: 20px;
    }

div.pager {
    display: flex;
    align-content: center;
    justify-content: flex-end;
}

    div.pager input {
        text-align: center;
        width: 100px;
    }

    div.pager a {
        background-color: rgba(241, 229, 208, 1);
        color: rgba(128, 0, 0, 1);
        padding: 10px 15px;
    }

        div.pager a.disabled {
            cursor: not-allowed;
        }
