<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div style="background-color:aquamarine"><h4>!!!I AM THE HEADER!!!</h4></div>
    <div>
        @RenderBody()
    </div>
    <div style="background-color:aquamarine"><h4>!!!I AM THE FOOTER!!!</h4></div>
</body>
</html>
