@using Lab2Server.Models
@model PaginationModel<BookModel>

@if(Model.PageItems.Any())
{
    
    <div class="books-list">
        @foreach (var item in Model.PageItems)
        {
            Html.RenderPartial("_BookItem", item);
        }
    </div>
    <div class="pager">

    </div>
}
else
{
    <div>
        <p><i class="fa fa-2x fa-info-circle"></i>Oops, we are sorry.<br/><sup>There are no books added yet.</sup></p>
    </div>
    
}
