@*@using Lab2Server.Models
    @model PaginationModel<SageModel>

    @if (Model.PageItems.Any())
    {
        @Html.Partial("_Pager")
        <div class="books-list">
            @foreach (var item in Model.PageItems)
            {
                Html.RenderPartial("_SageItem", item);
            }
        </div>
        @Html.Partial("_Pager")
    }
    else
    {
        <div>
            <p><i class="fa fa-2x fa-info-circle"></i>Oops, we are sorry.<br /><sup>There are no authors added yet.</sup></p>
        </div>

    }*@

<div id="authors-list" class="books-list"></div>

<script>
    var cartAPI = CartModule(updateCartCounter, stub),
        addToCart = function (e) {
            var id = $(e.currentTarget).data("id");
            cartAPI.post(id);
        },
        toSageItem = function (item) {
            return $("<div>")
                    .addClass("book-item")
                    .append(
                        $("<img>")
                            .addClass("book-picture")
                            .prop("src", item.Photo || "/Content/no-sage-preview.png")
                    )
                    .append(
                        $("<div>")
                            .addClass("cart-book-item")
                            .append($("<p>").html("Name: <label><b>" + item.Name + "</b></label>"))
                            .append($("<p>").html("Age: <label><b><u>" + item.Age + "</u></b></label>"))
                            .append($("<p>").html("City(s): <label><b>" + item.City + "</b></label>"))
                    )
                    .append(
                        $("<a>")
                            .data("id", item.Id)
                            .addClass("open-book-dialog")
                            .prop("href", "javascript:void(0)")
                            .html("<i class='fa fa-2x fa-edit'></i>")
                    ).append(
                        $("<a>")
                            .data("id", item.Id)
                            .addClass("delete-sage-dialog")
                            .prop("href", "javascript:void(0)")
                            .html("<i class='fa fa-2x fa-trash'></i>"));
        }

    function reLoadAuthors() {
        $.get("/api/authors")
            .then(responseData => {
                $("#authors-list").html("");
                $("#authors-list").append(responseData.map((i) => toSageItem(i)));
            });
    }

    $(function () { reLoadAuthors(); })
</script>
