@using Lab2Server.Models
@model IEnumerable<BookModel>
@{
    ViewBag.Title = "AdminList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>List of Books (Admin)</h2>

<p>@Html.ActionLink("Crate New", "Create")</p>

@Html.Partial("_ListOfBooks", Model)