@using Lab2Server.Models
@model PaginationModel<BookModel>

@{
    ViewBag.Title = "Books shop";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@Html.Partial("_ListOfBooks", Model)
